### How To Query Your Data With SQL:

First, we'll import some dependencies and filter out warnings:

In [167]:
import numpy as np
import pandas as pd
from pandasql import sqldf, load_meat

import warnings
warnings.filterwarnings('ignore')

Next, we'll load the "meat" data frame:

In [168]:
meat = load_meat()

Let's define a "wrapper function" so we don't have to keep typing "globals" in our query calls:

In [169]:
def pysqldf(x):
    return sqldf(x, globals())

OK! Let's take a look at how to do some SQL queries...

### How To Retrieve All Records From A Table:

In [180]:
q = "SELECT * FROM meat LIMIT 5;"
print(pysqldf(q))

                         date   beef   veal    pork  lamb_and_mutton broilers  \
0  1944-01-01 00:00:00.000000  751.0   85.0  1280.0             89.0     None
1  1944-02-01 00:00:00.000000  713.0   77.0  1169.0             72.0     None
2  1944-03-01 00:00:00.000000  741.0   90.0  1128.0             75.0     None
3  1944-04-01 00:00:00.000000  650.0   89.0   978.0             66.0     None
4  1944-05-01 00:00:00.000000  681.0  106.0  1029.0             78.0     None

  other_chicken turkey
0          None   None
1          None   None
2          None   None
3          None   None
4          None   None

### How To Retrieve Only 'Date' and 'Beef' fields:

In [171]:
q = "SELECT DATE, BEEF FROM meat LIMIT 5;"
print(pysqldf(q))

                         date   beef
0  1944-01-01 00:00:00.000000  751.0
1  1944-02-01 00:00:00.000000  713.0
2  1944-03-01 00:00:00.000000  741.0
3  1944-04-01 00:00:00.000000  650.0
4  1944-05-01 00:00:00.000000  681.0

### How To Retrieve Only 'Veal' With Value More Than 200:

In [172]:
q = "SELECT VEAL FROM meat WHERE VEAL > 200;"
print(pysqldf(q))

    veal
0  215.0
1  201.0

### How To Retrieve Only 'Veal' With Value More Than 75 and Dates From 1975 And After:

In [173]:
q = "SELECT DATE, VEAL FROM meat WHERE VEAL > 75 AND DATE > '1974-12-31';"
print(pysqldf(q))

                         date  veal
0  1975-07-01 00:00:00.000000  77.0
1  1975-09-01 00:00:00.000000  82.0
2  1975-10-01 00:00:00.000000  95.0
3  1975-11-01 00:00:00.000000  76.0
4  1975-12-01 00:00:00.000000  76.0
5  1976-12-01 00:00:00.000000  77.0

### How To Retrieve Records With Pork More Than 2100 Or Date Is Before 1945:

In [174]:
q = "SELECT * FROM meat WHERE PORK > 2100 OR DATE < '1945-01-01';"
print(pysqldf(q))

                          date    beef   veal    pork  lamb_and_mutton  \
0   1944-01-01 00:00:00.000000   751.0   85.0  1280.0             89.0
1   1944-02-01 00:00:00.000000   713.0   77.0  1169.0             72.0
2   1944-03-01 00:00:00.000000   741.0   90.0  1128.0             75.0
3   1944-04-01 00:00:00.000000   650.0   89.0   978.0             66.0
4   1944-05-01 00:00:00.000000   681.0  106.0  1029.0             78.0
5   1944-06-01 00:00:00.000000   658.0  125.0   962.0             79.0
6   1944-07-01 00:00:00.000000   662.0  142.0   796.0             82.0
7   1944-08-01 00:00:00.000000   787.0  175.0   748.0             87.0
8   1944-09-01 00:00:00.000000   774.0  182.0   678.0             91.0
9   1944-10-01 00:00:00.000000   834.0  215.0   777.0            100.0
10  1944-11-01 00:00:00.000000   786.0  197.0   944.0             91.0
11  1944-12-01 00:00:00.000000   764.0  146.0  1013.0             91.0
12  2007-10-01 00:00:00.000000  2443.0   11.1  2145.1             16.4
13  2008-01-01 00:00:00.000000  2232.7   11.3  2159.0             14.7
14  2008-10-01 00:00:00.000000  2340.9   13.5  2159.9             15.0
15  2012-10-01 00:00:00.000000  2343.7   10.3  2210.4             14.2

    broilers  other_chicken  turkey
0        NaN            NaN     NaN
1        NaN            NaN     NaN
2        NaN            NaN     NaN
3        NaN            NaN     NaN
4        NaN            NaN     NaN
5        NaN            NaN     NaN
6        NaN            NaN     NaN
7        NaN            NaN     NaN
8        NaN            NaN     NaN
9        NaN            NaN     NaN
10       NaN            NaN     NaN
11       NaN            NaN     NaN
12    3383.8           47.6   585.1
13    3237.2           45.7   546.4
14    3270.6           50.6   581.8
15    3335.0           43.8   579.9

### How To Retrieve Beef Whose Value Is Between 680 and 700:

In [175]:
q = "SELECT BEEF FROM meat WHERE BEEF BETWEEN 680 AND 700;"
print(pysqldf(q))

    beef
0  681.0
1  700.0
2  681.0
3  697.0
4  694.0
5  696.0
6  697.0
7  699.0
8  685.0
9  698.0

### How To Find The Total Number Of Records:

In [176]:
q = "SELECT COUNT(*) FROM meat;"
print(pysqldf(q))

   COUNT(*)
0       827

### How To Find The Minimum Beef Value:

In [177]:
q = "SELECT MIN(BEEF) FROM meat;"
print(pysqldf(q))

   MIN(BEEF)
0      366.0

### How To Find The Maximum Beef Value:

In [178]:
q = "SELECT MAX(BEEF) FROM meat;"
print(pysqldf(q))

   MAX(BEEF)
0     2512.0